    hr{border: solid var(--lights2) 0!important;
    border-top-width: 1px!important;
    height: 0!important;}
    @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
    
 bla{
    font-family: poppins;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 11px;
    color:var(--c1);
    transition: .5s !important;
}

bla:hover {
  background-color:var(--c3)!important; transition: .5s  !important;border-radius:5px;}

    ah{
    font-family:'archivo black';
    font-size:9px;
    text-transform:uppercase;
    border-bottom:1px solid transparent;
    transition: all 0.5s;
    color:var(--c4);} 
    ah:hover{border-bottom:1px solid var(--c1);}

    t1{
    text-shadow:1px 1px 0px var(--shadow);
    font-family:karla;
    color:var(--noir);
    font-size:9px;
    font-weight:bold;
    text-transform:uppercase;}
    t1:before {content: "❛ ";}
    
    t2{
    text-shadow:1px 1px 0px var(--shadow);
    font-family:abril fatface;
    color:var(--noir);
    font-size:10px;
    text-transform:uppercase;}

    st1{
    display: inline-block;
    background-color: var(--noir);
    padding: 2px;
    text-transform: uppercase;
    font-size: 7px;
    line-height: normal;
    font-weight: 600;
    color: var(--blanc);
    font-family: arial;
    letter-spacing: .4px;}

   st2{
    color: var(--c1);
    font-size: 10px;
    text-align: justify;
    text-transform: uppercase;
    font-weight: bold;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: poppins;}
    
   st3{
    display: inline-block;
    background-image: var(--grad2);
    padding: 2px 2px 1px 3px;
    line-height: 115%;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 8px;
    font-family: arial;
    font-weight: 600;
    color: #fff!important;
    border-radius: 5px;}

   ii{
       color: var(--c5);
    font-size: 10px;
    font-family: archivo black;
    letter-spacing: -.5px;
}
   
   ii2{
   
    color: var(--c1);
    font-size: 10px;
    font-family: archivo black;
    letter-spacing: -.5px;
}
   
   ii3{
   color:var(--c5);
   font-style:italic;} 

   ii4{
   color:var(--c1);
   font-style:italic;}

   ii5{
   color:var(--bc);
   font-style:italic;} 

    bb{
        color: var(--c6);
    font-weight: 800;} 
    
    bb2{
        color: var(--c1);
    font-weight: 800;} 
    
    bb3{
         color: var(--hc);
    font-weight: 800;}
    
    uu{
    border-bottom: 1px solid var(--c1);
    color: var(--c5);} 
    
    u1{
    color: var(--bc);
    border-bottom: 1px solid var(--c3);
    font-style: italic;
    text-decoration: none;}

    big{
    font-family: 'Archivo Black';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    background-image: var(--grad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;} 

    bigg{
        font-family: 'Archivo Black';
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;} 
    
    u4{
    box-shadow:inset 0 -6px 0 var(--u4);
    color:var(--txt2);
    text-decoration:none;}
    
    bou{
    font-family:'karla';
    font-size:9px;
    color:var(--noir);
    text-transform:uppercase;}
    bou:before{content:"  ↣ "}

    bou2{
    background:#fff;
    color:var(--color-pill);
    font-family:'vidaloka';
    font-size:10px;
    text-transform:uppercase;
    padding:.2px 2px .5px 1px;}

    xp{
    display:inline-block;
    box-shadow:inset 0 -1px 0 var(--color5);
    transition:all .5s;
    font-family:'karla';
    font-weight:bold;} 
    xp:hover{
    box-shadow:inset 0 -15px 0 var(--color2);
    color:#fff;}

    pts{
    font-family:'karla';
    font-size:9px;}
    
    pp{
    display:block;
    float:left;
    padding:12px 14px;
    background-image:-webkit-linear-gradient(-176deg,var(--grad1),var(--grad2))!important;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    font-size:calc(11px + 4px);
    margin:0px 10px 0px 0px;}

    p{
    color:#595959;
    text-transform:none!important;
    font-size:11px;
    font-family:arial;
    text-align:justify;
    padding-top:5px;}

    un{
    text-shadow: 0.5px 0.5px 0px var(--shadow);
    font-family: poppins;
    font-size: 12px;
    color: var(--noir);
    font-weight: 700;} 
    un:after{    width: 50px;
    height: 1px;
    display: block!important;
    content: '';
    background-image: var(--gradient)!important;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;} 
    
    deux{
    font-family:vidaloka;
    font-size:12px;
    text-transform:uppercase;
    color:var(--noir);} 

    fin{
    line-height:150%;
    font-style:italic;
    font-family:times new;} 
    
    tt1{color:var(--c1);} tt3{color:var(--bc);} tt4{color:var(--c5);} 
    tt2{font-family:open sans;color:var(--noir);font-size:9px;font-weight:bold;}

    
    iii{
    color:#999999;
    font-family: 'Vidaloka',serif;
    text-shadow:1px 1px 0 var(--shadow);
    letter-spacing:-.4px;
    font-size:13px;
    font-style:italic;} 
    
    bg{
    text-transform:uppercase;
    font-family: 'Vidaloka',serif;
    text-shadow:1px 1px 0 var(--shadow);
    letter-spacing:-.4px;
    font-size:11px;}
   

nw{letter-spacing:1px;font-family:playfair display;color:var(--c1);font-weight:900;font-size:9px;}
ct{font-family: 'playfair display'; font-style: italic; letter-spacing : 1px ;font-size : 7px;}
labelss{color:var(--noir);border-bottom:1px solid var(--color-button);font-family:karla;font-size:9px;letter-spacing:0px;}
st4{background-color:var(--blanc);color:var(--noir);font-weight:600;padding:0 4px;text-transform:uppercase;font-size:8.5px;letter-spacing:1px;font-family:arial;}
bk{color:var(--noir);text-transform:uppercase;font-weight:800;font-size:9px;font-family:karla;} 
wt{color:var(--blanc);text-transform:uppercase;font-weight:800;font-size:9px;font-family:karla;}
