.haut_cat {
    margin: 0 auto;
    width: 815px;
    padding: 2px 10px;
    opacity: .8;
    text-align: left!important;
    color: var(--blanc)!important;
    border-radius: 10px!important;
  margin-top:-13px;
}
  
.haut_cat h2{
  display: inline-block!important;
    font-family: poppins;
    font-weight: 600;
    background: linear-gradient(45deg, var(--c1) 0%, var(--c3) 100%);
    color:#fff;
    padding: 2px 6px 1px 8px;
    border-radius: 25px;
    font-size: 9px;
  text-transform:uppercase;
  }

.int_cat{
    width: 835px;
    height: auto;
    margin:0 auto;
    margin-bottom: -15px;
}
.cat_haut{
  display:flex;
}

.ssforum{ 
 border-radius:20px 0px 0px 0px;
background:var(--aes);
  width:150px; 
  height:130px;
  overflow:hidden;
  position:relative;}

.ssforum .prcircle i{
  color:#fff;
}

.ssforum .prcircle{
  margin-top:35px;
  width: 30px;
  height: 30px;    
    border: 1px solid #fff;
    background-image: var(--grad2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:1;
}

.ssforum .hoverme{
  font-size: 8px;
  letter-spacing: .5px;
  text-transform: uppercase; 
  font-family:poppins;
  display: block; 
  font-weight: 400;
  background-color: var(--blanc);
  color:var(--noir);
  width:fit-content;
  padding-right:10px;
  padding-left:10px;
  margin-top:8px;
  opacity:1;
    border-radius:5px;
}

.ssforum .mCSB_container{margin-right:2px!important}

.ssforumhover{ 
  background:var(--aes);
  font-size:0px;
    line-height:16px;
  height:130px;
  opacity:0;
  margin-top:-87px;
  padding-bottom:10px;
  padding-top:10px;
  position:absolute;
  transition:all .75s;
  width:150px;
overflow:auto;}

.ssforumhover:hover{opacity:1}

.ssforumhover a{
  background-color: var(--c4);
  border:1px solidvar(--clr);
  border-radius:20px;
  display:block;
  font-family:calibri;
  font-size:9px;
  font-weight:400;
  letter-spacing:1px;
padding:1px;
  text-align:center;
  text-transform:uppercase;width:125px!important;margin-bottom:-13px;margin-left:10px;}
.ssforum a{color:#fff;}
.ssforum a:hover{color:#fff;}

.info_cat{
  background-color:var(--cbg);
  padding:10px;
  width:664px;
  height:110px;
  font-size:12px;
  font-family:arial;
  border-radius:0px 20px 0px 0px; 
  color:var(--txt);}

.last_cat{
  width:818px;
  background:#fff;
  font-size:12px;
  font-family:arial;
  color:var(--txt);
  padding:8px;
 border-radius:0px 0px 20px 20px; 
}

.info_cat .cat_bloc {
    width: 470px;
    height: 50px;
    padding:15px 20px 15px 20px;
    background-color: var(--blanc);
    text-align: justify;
    overflow: auto;
    margin-right: -5px;
    background-clip: padding-box;
    background: var(--blanc);
    font-size: 10.5px;
    line-height: 140%;
  margin-right:15px;
  margin-left:15px;
  font-family:open sans;
}

.info_cat titrecat {
    display: block;
    font-family: archivo black;
    font-size: 10px;
    margin: auto;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
    margin-top: 3px;
  color:var(--c1);
  margin-left:15px;
}

.info_cat titrecat:after {
  content: "";
  display: block;
  margin: 3px 0px 5px 0px;
  width: 100px;
  height: 3px;
  background-color:var(--c3);
}

.cat_stat{
  width:100px;
    color:#00000030;
    font-family: poppins;
    font-size: 7px;
    padding-bottom: 2px;
    letter-spacing:1px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  margin-top:20px;
}

.cat_stat nmbr{
  font-size:15px;
  font-family:archivo black;
  color:var(--noir);
}

.cat_ava img{
    width: 20px;
    height: 20px;
    border: 3px solid #00000010;
    margin-left: 5px;
    position: relative;
    object-fit: cover;
    opacity: 0.5;
    border-radius:100%;
  transition: 1s;
}

.catlink{
  font-family:open sans;
  text-transform:lowercase;
  letter-spacing:.5px;
  font-size: 7px;
  padding: 3px;
  margin-left:10px;
  color: var(--txt);
  width:120px;
}

.catlink a{
  font-weight:600;
    color:var(--c4);
    font-size:9px;
}

.sep{
  border-top:1px solid #00000008;
  width:155px;
  margin-left:10px;
}

.catnamedate{
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 7px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    width: 120px;
}

catname{
  font-family:archivo black;
  font-size:8px;
  text-transform:uppercase;
  text-align:center;
  color:var(--noir);
}

.datecat{
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 7px;
  padding: 3px;
  margin-left:10px;
  text-align:center;
  width:120px;
}
