.fdchart{
    padding: 15px;
    margin: 0 auto;
    background-color: var(--bg3);
    outline: 1px solid var(--bordure3);
    width: 90%;
    height: auto;
    outline-offset: 5px;
    border-radius: 10px;
    margin-top: 20px;
} 
.titrec{
    display: inline-block;
    background-color: var(--c5);
    padding: 2px 2px 1px 3px;
    line-height: 115%;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: arial;
    font-weight: 500;
    color: #fff!important;
    font-family: 'Poppins';
    margin-top: 5px;
  border-radius:5px;
}

.imgchart{
  object-fit:cover;margin-left:15px;width:50px;height:50px;border-radius:5px;filter:grayscale(0);transition: all 1s;
} 
.imgchart:hover{filter:grayscale(1);transition: all 1s;}
.song_info{display:inline-block;width:100%;margin-left:12px;vertical-align:middle;} 
.song_chart{font-family:karla;color:var(--black);font-size:14px;width:130px;vertical-align:baseline;} 
.art_chart{font-family:karla;color:#969696;font-size:12px;width:130px;vertical-align:baseline;} 
.album_chart{display:inline-block;width:100%;vertical-align:middle;width:100px;color:#969696;font-size:14px;font-family:karla;} 
.date_chart{display:inline-block;width:100%;vertical-align:middle;width:100px;color:#969696;font-size:9px;font-family:karla;} 
.streams{width:70px;font-family:karla;margin-left:12px;font-size:12px;color:#888;margin-right:12px;}
