.pro_insta {
  position: relative;
  width:470px;
  border-radius:5px;
  height:auto;
  color:#00000099;
  font-size:13px;
  background:rgba(2555, 255, 255, 0.8);
  border:1px solid #d3d3d3;
  overflow:hidden;
  margin:0 auto;
  font-family:var(--font-family-system);
}

.info_insta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_instaa {
  width:80%;
  display:grid;
  align-items:center;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.pinsta-left {
  margin-left:-20px;
  margin-right:-15px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.pinsta-image {
  width:80px;
  height:80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pinsta-image-inner {
  width:80px;
  height:80px;
  border:2px solid #ecedf3;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;}

.gradient {
  width: 100%;
  height: 100%;
  padding: .3em;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.gradient-gray {
  width: 100%;
  height: 100%;
  padding: .3em;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.pinsta-right {
  padding:15px;
  display: flex;
  jusify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.pinsta-right .profil {
  font-size:13px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil pinsta{
  margin-top:10px;
  margin-bottom:10px;
  color:#000;
  font-weight:bold;
  font-size:15px;
}
.recaptinsta a {
  margin-top:10px;
  margin-right:10px;
  cursor: pointer;
}
.recaptinsta a span {
  color:#000;
  font-weight: bolder;
}
.bio_insta_name {
  font-weight:bold;
  color:#000;
  margin: 1.75em 0 0 0;
  line-height: 0;
}

/*INSTA POST, TV & TAG*/
.postnco{
  margin-top:-5px;
  padding-top:10px;
  border-top:1px solid #d3d3d3;
}

.postnco iconss{
  margin:5px;
  font-size:10px;
  color:#00000060;
  font-family:var(--font-family-system);
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:-1px;
}
pp{color:#00000040; font-size:12px;}

/* FEED INSTA */
.feed_insta {
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.feed_insta_cont {
  width:100%;
  display: grid;
  align-items: center;
  grid-template-columns:153px 153px 154px;
  grid-template-rows:153px 153px 153px;
  grid-column-gap:5px;
  grid-row-gap:5px;
}
.img_insta {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img_insta .image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/*nvx post insta*/
.box_insta {
  position: relative;
  width:420px;
  height:auto;
  background:rgba(2555, 255, 255, 0.8);
  border-left:1px solid #d3d3d3;
  border-top:1px solid #d3d3d3;
  border-right:1px solid #d3d3d3;
  border-radius:5px 5px 0 0;
  overflow:hidden;
  margin:0 auto;
}

.insta .tabs-onglets {
  position:absolute;
  bottom: 0;
  padding:5px;
  width:calc(100% - 10px);
  height:auto;
  font-size:13px;
  text-align:center;
}

.insta .tabs-onglets a {
  color: #00000030;
  text-decoration: none;
  padding: 0 5px;
  transition: 0.25s all ease-in-out;
}

.insta .tabs-onglets .selected,
.insta .tabs-onglets a:hover {
  color: #007bff;
}

.insta #contenu {
  overflow:hidden;
  width:420px;
  height:auto;
  padding-bottom:5px;
}

.insta .content-insta {
  text-align: center;
}

.insta .content-insta img {
  width:420px;
  margin:0 auto;
  margin-top:5px;
  margin-bottom:15px;
}

.topinsta{
  margin-bottom:5px;
  margin-top:10px;
  margin-left:10px;
}

.insta-image {
  width:30px;
  height:30px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.insta-image-inner {
  width:30px;
  height:30px;
  border:2px solid #ecedf3;
  object-fit:cover;
  border-radius: 50%;
  z-index:2;
}

.insta-image img{
  object-fit:cover!important;
}
.gradient {
  width: 100%;
  height: 100%;
  padding:4px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(214,41,118,1) 0%, rgba(250,126,30,1) 100%);
}

.insta-right {
  padding-left:45px;
  float:left;
}

.user-info {
  font-size:11px;
  font-weight:bold;
  color:#000;
  margin-top:-35px;
  font-family: var(--font-family-system);
}
.username-verified {
  height:10px;
}

.bas_insta{
  font-family: var(--font-family-system);
  position: relative;
  width:400px;
  height:auto;
  background:rgba(2555, 255, 255, 0.8);
  border-bottom:1px solid #d3d3d3;
  border-right:1px solid #d3d3d3;
  border-left:1px solid #d3d3d3;
  border-radius:0px 0px 5px 5px;
  overflow:hidden;
  margin:0 auto;
  padding:0px 10px 10px 10px;
  font-size:13px;
  color:#000;
}
