#fdytb{
  width:448px;
  margin:0 auto;
  position:relative;
  background-color:var(--blanc);
  padding:7px;
  margin-bottom:20px;
  font-family: "Noto Sans KR", sans-serif;
}

#container{
  background-color:var(--blanc);
  height:40px;
  width:430px;
  margin:0 auto;
  padding:0 16px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;}

#gauche{
  display:flex;
  flex-direction:row;
  width:129px;
  color:var(--noir);
  font-size:17px;
  font-family:impact;
}

#gauche .th{
  color:#f60000;
  font-size:30px;
  margin-right:5px;}

.hashtag{font-size:12px;font-weight:400;line-height:1.5rem;cursor:pointer;}
.hashtag a{color:#2e6eba;}
.hashtag a:hover{color:#2e6eba;}

.titleytb{
  font-size:18px;
  font-family:"Noto Sans KR", sans-serif;
  color:var(--noir);
  font-weight:400;
  margin-top:-20px;
  max-height:40px;
  overflow:hidden;}

#fdytb .fdstat{
  display:flex;
  flex-direction:row;
  width:100%;
  padding:0px 7px;
  overflow:hidden;}

#fdytb .sortie{
  color:var(--citt);
  font-size:13px;font-weight:light;margin-top:5px;margin-left:-5px;}

.infosytb{
  margin-top:5px;
  color:var(--txt);
  padding:12px 0px;
  display:flex;
  border-top:1px solid var(--accentb);}

.iconsytb{
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:transparent;
  overflow:hidden;
  cursor:pointer;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;}

.verifytb{width:10px;margin-left:3px;display:inline-block;}
.descytb{margin-top:-5px;padding:5px;margin-left:48px;padding-bottom:5px;font-size:12px;white-space:pre-line;overflow-wrap:break-word;word-break:keep-all;line-height:17px;overflow:hidden;}

.fdwvr{width:480px;margin:0 auto;position:relative;background-color:rgb(255, 255, 255);padding:20px;margin-bottom:20px;border:1px solid rgb(235, 235, 235);font-family: "Noto Sans KR", sans-serif;border-radius:8px;}.fdwvr .titre{display:flex;-webkit-box-align:center;align-items:center;}.fdwvr .gras{padding:0px;margin:0px;font-size:16px;color:#000;font-weight:bold;}.fdwvr .lienswvr{font-size:14px;color:rgb(173, 177, 184);margin-left:auto;cursor:pointer;}.fdwvr .membres{display:flex;flex-direction:row;width:100%;padding:0px 7px;overflow:hidden;}.fdwvr .indiv{margin-right:15px;height:auto;width:46px;}.fdic{margin-bottom:10px;background:rgb(235, 235, 235);border-radius:50%;width:52px;height:52px;}.fdwvr .icons{margin:1px!important;top:2px!important;width:46px;height:46px;border:2px solid rgb(255, 255, 255);border-radius:50%;}.fdwvr .icons img{width:46px;height:46px;object-fit:cover;}.fdwvr .fondnm {padding:0px 3px;margin-top:4px;text-align:center;overflow-wrap:break-word;width:100%;}.fdwvr name{display:block;font-size:12px;color:rgb(52, 58, 64);}.artistag {display:flex;-webkit-box-align:center;align-items:center;width:100%;padding-bottom:10px;}.tagname{display:flex;-webkit-box-align:center;align-items:center;}.artistag .name{-webkit-box-align:center;align-items:center;line-height:1.5;}.artistag .ladate{-webkit-box-align:center;line-height:1.5;}

name2{padding:0px;margin:1px;font-weight:bold;max-width:175px;font-size:14px;color:var(--noir);text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}.verif{width:14px;margin-left:3px;display:inline-block;}.das{font-size:12px;color:rgb(173, 177, 184);}.dame {flex:1 1 auto;margin-left:12px;}.texte{padding-bottom:5px;font-size:14px;white-space:pre-line;overflow-wrap:break-word;word-break:keep-all;line-height:20px;overflow:hidden;cursor:pointer;}.fdwvr .sep{display:flex;width:480px;height:1px;background-color:rgb(235, 235, 235);content:'';margin-bottom:10px;}.photoscnt{display:flex;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;padding-bottom:10px;}.wvrphotos{overflow:hidden;border-radius:8px;cursor:pointer;background-position:center center;background-size:cover;background-repeat:no-repeat;background-color:rgb(235, 235, 235);box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;width:480px;height:324px;position:relative;}.wvrphotos.count_4 {width:236px;height:158px;}.wvrphotos.count_2 {width:236px;}.likescom{margin-bottom:10px;color: rgb(135, 142, 150);padding: 12px 0px;display: flex;border-top: 1px solid rgb(235, 235, 235);border-bottom: 1px solid rgb(235, 235, 235);}.likscom {cursor: pointer;font-size:14px;display: flex;-webkit-box-pack: center;justify-content: center;-webkit-box-align: center;align-items: center;margin-right: 28px;}.likscom .th{margin-right:3px;}.comsdate .th{margin-right:3px;}.comments{display:flex;flex-direction:row;flex:1 1 auto;margin-bottom:20px;}.comments .icons{border-radius:50%;cursor:pointer;background-position:center center;background-size:cover;background-repeat:no-repeat;position:relative;display:block;background-color:rgb(235, 235, 235);box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;width:32px;height:32px;}.fdcoms {position:relative;flex:1 1 0%;margin-top:5px;margin-left:8px;margin-right:20px;}.coms {position:relative;padding:6px 10px;background-color: rgb(245, 247, 250);color:rgb(52, 58, 64);font-size: 13px;line-height: 1.54;border-radius: 0px 12px 12px;display: inline-block;word-break: break-all;}.psdoms {margin-right:6px;font-weight:bold;color:#000;}.comsdate{color:rgb(173, 177, 184);font-size: 12px;line-height: 1.5;display: flex;-webkit-box-align: center;align-items: center;margin-top: 3px;}.morecoms {margin-bottom:10px;background:none rgb(255, 255, 255);border:1px solid rgb(10, 219, 184);display:inline-block;border-radius:18px;color:rgb(10, 219, 184);padding:10px;font-size:14px;text-align:center;cursor:pointer;}
#sms-box{border:1px solid rgba(0,0,0,.10);width:270px;padding:10px;height:auto;background-image:-webkit-linear-gradient(-150deg,#e88255,#dc536f)!important;border-radius:20px;margin:0 auto;}.icons-sms{margin-top:25px!important;border-radius:50%;padding:5px;background:rgba(250,250,250,0.10);object-fit:cover;width:88px;height:88px;position:relative;}.icons-sms img{border-radius:50%;object-fit:cover;width:80px;height:80px;transition:0.6s;border:4px solid #fff;}.message{width:100%;height:45px;text-align:center;top:130px;}#sms-box h1{font-family:calibri;font-size:15px;font-weight:bold;letter-spacing:3px;padding-top:5px;color:#fff;text-transform:uppercase;}p{margin-top:-15px;font-size:7px;font-weight:100;color:rgba(250,250,250,0.5);letter-spacing:1px;text-transform:uppercase;}.bulle{width:90%;display:inline-block;vertical-align:bottom;align:left;margin-bottom:10px;}.blob{width:100%;}.blob-content{font-size:11px;text-align:left;margin-bottom:5px;padding:7px 12px 8px 12px;display:inline-block;position:relative;border-radius:1rem;width:auto;max-width:90%;color:#000;background:#fff;}
