.protxt img {max-width: 100%;}
#bg_pro{
  width:100%;
  height:auto;
}
  
.protxt label{font-family:karla;font-size:10px;font-weight:600;text-transform:uppercase;color: var(--color-button)!important;}

#bg_pro .h_nom{
  width:800px;
  height:35px;
  padding:20px; 
  border-radius:10px;
  background-color:var(--c1);
  margin:auto;
  margin-top:10px;
  font-size:18px; 
  font-family:archivo black;
  text-transform:uppercase;
  text-align:center;
  color:#fff;
  letter-spacing:-.5px;
}

#bg_pro .rank{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
}
  
#bg_pro .rank img{
    display:none!important;
}

#bg_pro .inner_pro{
  display:flex;
  flex-direction:row;
  margin-top:10px;
}

.inner_pro .pro_right{
  width:230px;
  height:500px;
  margin-left:10px;
  display:flex;
  flex-direction:column;
}

.inner_pro .pro_left{
  width:600px;
  height:500px;
  margin-right: 20px;
}

#pro_contact {
  width:210px;
  height:20px;
  background-color:var(--cbg);
  border-radius:5px;
  font-size: 0px;
  padding: 2px;
  display: inline-block;
  margin:0 auto;
  margin-top:5px;
}

#pro_contact img {
    max-height: 13px;
    margin: 1.5px;
}
  
   .ktactPFIL{display:inline-block;}
  .ktactPFIL img{max-height:13px;margin:1.5px;}

#bg_pro .prev_ava{
  height: 320px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border: 7px solid var(--cbg);
  background: var(--cbg);
  margin:0 auto;
  border-radius:5px;
}

#bg_pro .ava{
  height: 320px;
    width: 200px;
    object-fit: cover;
    position: relative;
    z-index: 0;
  border-radius:5px;
    -webkit-transition: 0.7s 1s;
}

.ava img {
  width:200px;
  height:320px;
  border-radius:5px;
  transition: 1s;
  cursor: pointer;
}

.ava img:hover {
  opacity: 0.5;
  transform: scale(1.2);
  filter:grayscale(1);
  transition: all ease 0.5s;
}

#badges{
  background-color:var(--blanc);
  width:210px;
  height:82px;
  padding: 2px;
  margin:0 auto; 
  margin-top:5px;
  border-radius:5px;
  text-align:center;
}
  
#badges img{
  width:35px;height:auto;object-fit:cover;
}

#infos_left{
  width:210px;
  height:auto;
  padding:2px; 
  margin:0 auto;
  margin-top:5px;
  display:flex;
  flex-direction:column;
}

.if {
  display:flex;
  margin-bottom:3px;
  justify-content: space-between;
}

.if .seep{
  border-bottom:1px solid #fff;
  width:50%;
  height:8px;
  margin-right:5px;
}

.o{
  display: inline-block!important;
    font-family: poppins;
    font-weight: 600;
    background: linear-gradient(45deg, var(--c5) 0%, var(--c6) 100%);
    color: #fff;
    padding: 2px 6px 1px 8px;
    border-radius: 25px;
    font-size: 8px;
  text-transform:uppercase;
  width:48%;
  text-align:center;
}

#blocun{
  width:100%;
  height:189px;
  margin-bottom:15px;
  display:flex;
}

#blocdeux{
  background: var(--cbg);
    width: 88.3%;
    height: 230px;
    outline: 1px solid var(--blanc);
    outline-offset: 5px;
    border-radius: 5px;
    padding: 30px;
    margin-left: 5px;
  text-align:justify;
  font-size:11px;
  font-family:poppins;
}

#infoxp{
      width: 280px;
    height: 149px;
    padding: 20px;
    background: var(--blanc);
    border-radius: 5px;
  font-size:11px; 
  text-align:justify;
  font-family:poppins;
}

#blocimg{
  width:270px;
  height:189px;
  margin-left:10px;
}

.pro_img{
  width:270px;
  height:145px;
  background-color:var(--c3);
  border-radius:5px;
}

.pro_img img{
  width:257px;
  height:133px;
  object-fit:cover;
  border:1px solid #fff;
  border-radius:5px;
  margin-top:5px;
  margin-left:5px;
  transition: 1s;
  cursor: pointer;
} 

.pro_img img:hover{
  opacity: 0.5;
  filter:grayscale(1);
  transition: all ease 0.5s;
}
.sep_pro {
  display: flex;
  align-items: center;
  margin:auto;
  margin-top:22px;
  justify-content: center;
  border-top:1px solid #fff;
  padding:5px;
  width:96%;
  text-transform: uppercase;
  margin-bottom:5px;
}
.sep_pro span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius:100%;
  background-image: var(--grad2);
  color:#fff;
  margin:auto;
  margin-top:-20px;
}

.protxt {
  padding-right:5px;
  overflow:auto;
  height:100%;
      line-height: 110%;
}

.seep_pro {
  display: flex;
  align-items: center;
  margin:auto;
  margin-top:28px;
  justify-content: center;
  border-top:1px solid #fff;
  padding:5px;
  width:90%;
  text-transform: uppercase;
  margin-bottom:5px;
}
.seep_pro span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius:100%;
  background-image: var(--gradient);
  color:#fff;
  margin:auto;
  margin-top:-20px;
}
  
  .txtprev:first-child, .txtprev:nth-child(2), .txtprev:nth-child(3), .txtprev:nth-child(4), .txtprev:nth-child(5), .txtprev:nth-child(6), 
  .txtprev:nth-child(7), .txtprev:nth-child(8), .txtprev:nth-child(9), .txtprev:nth-child(10), .txtprev:nth-child(14), .txtprev:nth-child(15), .txtprev:nth-child(16), .txtprev:nth-child(17), .txtprev:nth-child(18), 
  .txtprev:nth-child(19), .txtprev:nth-child(20), .txtprev:nth-child(21), .txtprev:nth-child(22), .txtprev:nth-child(23), .txtprev:nth-child(24), .txtprev:nth-child(25){display:none!important;}
  
  .txtprev2{width:150px;}
  .txtprev2:first-child, .txtprev2:nth-child(2), .txtprev2:nth-child(3), .txtprev2:nth-child(4), .txtprev2:nth-child(5), .txtprev2:nth-child(7), 
  .txtprev2:nth-child(8), .txtprev2:nth-child(9), .txtprev2:nth-child(10), .txtprev2:nth-child(11), .txtprev2:nth-child(12), .txtprev2:nth-child(13), .txtprev2:nth-child(14), .txtprev2:nth-child(15), 
  .txtprev2:nth-child(16), .txtprev2:nth-child(17), .txtprev2:nth-child(18), .txtprev2:nth-child(19), .txtprev2:nth-child(20), 
  .txtprev2:nth-child(21), .txtprev2:nth-child(22), .txtprev2:nth-child(23), .txtprev2:nth-child(24), .txtprev2:nth-child(25){display:none!important;}
  
  .txtprev3{width:150px;}
  .txtprev3:first-child, .txtprev3:nth-child(3), .txtprev3:nth-child(4), .txtprev3:nth-child(5), .txtprev3:nth-child(6), .txtprev3:nth-child(7), 
  .txtprev3:nth-child(8), .txtprev3:nth-child(9), .txtprev3:nth-child(10), .txtprev3:nth-child(11), .txtprev3:nth-child(12), .txtprev3:nth-child(13), .txtprev3:nth-child(14), .txtprev3:nth-child(15), 
  .txtprev3:nth-child(16), .txtprev3:nth-child(17), .txtprev3:nth-child(18), .txtprev3:nth-child(19), .txtprev3:nth-child(20), 
  .txtprev3:nth-child(21), .txtprev3:nth-child(22), .txtprev3:nth-child(23), .txtprev3:nth-child(24), .txtprev3:nth-child(25){display:none!important;}
  
  .txtprev4{padding:5px 5px 10px 10px;} .txtprev4:nth-child(7) label{display:none;} 
  .txtprev4:first-child, .txtprev4:nth-child(2), .txtprev4:nth-child(3), .txtprev4:nth-child(4), .txtprev4:nth-child(5), .txtprev4:nth-child(6),
  .txtprev4:nth-child(11), .txtprev4:nth-child(13), .txtprev4:nth-child(14){display:none!important;}
  
  .txtprev5{width:150px;}
  .txtprev5:first-child, .txtprev5:nth-child(2), .txtprev5:nth-child(4), .txtprev5:nth-child(5), .txtprev5:nth-child(6), .txtprev5:nth-child(7), 
  .txtprev5:nth-child(8), .txtprev5:nth-child(9), .txtprev5:nth-child(10), .txtprev5:nth-child(11), .txtprev5:nth-child(12), .txtprev5:nth-child(13), .txtprev5:nth-child(14), .txtprev5:nth-child(15), 
  .txtprev5:nth-child(16), .txtprev5:nth-child(17), .txtprev5:nth-child(18), .txtprev5:nth-child(19), .txtprev5:nth-child(20), 
  .txtprev5:nth-child(21), .txtprev5:nth-child(22), .txtprev5:nth-child(23), .txtprev5:nth-child(24), .txtprev5:nth-child(25){display:none!important;}
  
  .txtprev6:first-child, .txtprev6:nth-child(2), .txtprev6:nth-child(3), .txtprev6:nth-child(4), .txtprev6:nth-child(6), .txtprev6:nth-child(7), 
  .txtprev6:nth-child(8), .txtprev6:nth-child(9), .txtprev6:nth-child(10), .txtprev6:nth-child(11), .txtprev6:nth-child(12), .txtprev6:nth-child(13), .txtprev6:nth-child(14), .txtprev6:nth-child(15), 
  .txtprev6:nth-child(16), .txtprev6:nth-child(17), .txtprev6:nth-child(18), .txtprev6:nth-child(19), .txtprev6:nth-child(20), 
  .txtprev6:nth-child(21), .txtprev6:nth-child(22), .txtprev6:nth-child(23), .txtprev6:nth-child(24), .txtprev6:nth-child(25){display:none!important;}
  
  .txtprev7:nth-child(2), .txtprev7:nth-child(3), .txtprev7:nth-child(4), .txtprev7:nth-child(5), .txtprev7:nth-child(6), .txtprev7:nth-child(7), 
  .txtprev7:nth-child(8), .txtprev7:nth-child(9), .txtprev7:nth-child(10), .txtprev7:nth-child(11), .txtprev7:nth-child(12), .txtprev7:nth-child(13), .txtprev7:nth-child(14), .txtprev7:nth-child(15), 
  .txtprev7:nth-child(16), .txtprev7:nth-child(17), .txtprev7:nth-child(18), .txtprev7:nth-child(19), .txtprev7:nth-child(20), 
  .txtprev7:nth-child(21), .txtprev7:nth-child(22), .txtprev7:nth-child(23), .txtprev7:nth-child(24), .txtprev7:nth-child(25){display:none!important;}

  .profstats{margin:0 auto;width:100%;
      margin-top: 18px;
    margin-bottom: 10px;}
  
  .profstats a {
    background: var(--noir)!important;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 11px;
    padding: 4px 8px 3px;
    border-radius: 25px;
    margin-right: 4px;
    color: var(--blanc);
    transition: .5s!important;
}
  
  .profstats a:hover {
  background-color:var(--c1)!important; transition: .5s  !important;}
