*{
	font-family: Fjalla One;
  margin: 0;
	border: 0;
	padding: 0;
	color: white;
}

html{
  background-color: #000000;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: #1bb799;
}

.pos{
	text-align: center;
}

.pos td{
	color: #f26d2c;
}

.wpos:hover{
	background-color: #1bb799;
}

.wpos:hover td{
	color: white;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: white;
}
