.box_insta.story {
  overflow:hidden;
  border-radius:5px;
} 

.top-insta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  padding-top:15px;
  padding-left:15px; 
  width:100%;
  z-index:2!important;
} 

.top-insta div {
  position:relative;
} 

img.post_story {
  width:100%; 
  max-height:100%; 
  min-height:420px; 
  object-fit:cover; 
  object-position:center;
} 

.box_insta.story .tabs-onglets {
  z-index:3!important;
} 

.box_insta.story .insta #contenu {
  padding:0;
} 

.box_insta.story .insta .content-insta {
  position:relative;
} 

.box_insta.story .insta .content-insta img {
  margin:0;
} 

.story_com {
  position:absolute;
  bottom:0; 
  left:0; 
  padding: 0 20px 20px 20px;
  text-align:justify;
  z-index:2!important;
  color:var(--noir);
  height:fit-content;
} 

.story_com a {
  font-weight:bold;
  font-family: archivo black;
} 

.post_story video + .story_com {
  bottom:50px;
}
