/*GESTIONNAIRE DE COMPTE*/
.switcheroo{
    position:fixed;
    z-index:999;
    top:25px;
    right:0;
    bottom:0;
    color:var(--txt);
    font-size:14px;
}

.switcheroo, .switcheroo *, .switcheroo *:before, .switcheroo *:after{box-sizing:border-box;}

.switcheroo__squircles{margin-top:80px!important;display:flex;flex-direction:column;min-height:100vh;margin:0;padding:0;list-style:none;background-color:var(--color-body);padding:var(--gap-size);gap:var(--gap-size);}
.switcheroo__squircle{display:flex;align-items:center;justify-content:center;border:1px solid var(--brd);padding:3px;background-color:var(--lgt3);width:35px;height:35px;border-radius:50%;cursor:pointer;position:relative;transition:border-radius 128ms var(--ease);}
.switcheroo__squircle--button{transition:border-radius 128ms var(--ease);color:#fff;}
.switcheroo__squircle--button:hover{color:#fff;background-color:var(--color-button);}
.switcheroo__squircle:hover{border-radius:36%;}
.switcheroo__squircle:hover .switcheroo__popper{/* tooltip hover */opacity:1;transform: translateY(-50%) scale(1);}
.switcheroo__squircle:hover:before{/* puce hover */opacity:1;transform:translate(-100%, -50%) scale(0.5);}
.switcheroo__squircle:hover .switcheroo__delete{/* delete button */opacity:1;transform:scale(1);}
.switcheroo__squircle:before {/* puce */content: "";width: 100%;height: 100%;display: block;background-color: var(--color-pill);position: absolute;border-radius: 4px;top: 50%;transform: translate(-100%, -50%) scale(0);transition: transform 128ms, opacity 64ms;pointer-events:none;opacity:0;}
.switcheroo__squircle.active {/* puce active */border-radius: 36%;cursor: default;}
.switcheroo__squircle.active:before {opacity: 1;transform: translate(-85%, -50%) scale(0.2);border-radius: 50%;}
.switcheroo__link{display: block;width: 100%;height: 100%;border-radius: inherit;display: flex;align-items: center;justify-content: center;}
.switcheroo__link:hover {text-decoration: none;}
.switcheroo__popper {/* tooltip */
    padding: 0.68rem 1rem;
    position: absolute;
    left: 90%;
    top: 50%;
    transform-origin: left;
    transform: translateY(-50%) scale(0.98);
    width: -webkit-max-content;
    width: max-content;
    z-index: 0;
    opacity: 0;
    transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
    pointer-events: none;
    color: white;
    font-family: 'Karla';
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;}
 
.switcheroo__avatar {/* avatars */position: relative;width: 100%;height: 100%;border-radius: inherit;overflow: hidden;}
.switcheroo__avatar img {width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.switcheroo__logo img {/* logo image taille */width: 32px;} .switcheroo__logo:hover {/* logo hover */background-color: var(--color-accent);}
.switcheroo__delete {/* button delete */display: flex;align-items: center;justify-content: center;position: absolute;width: 16px;height: 16px;top: -2px;right: -2px;border-radius: 50%;background-color: var(--color-delete);transform: scale(0);opacity: 1;transition: transform 128ms var(--ease), opacity 64ms var(--ease);cursor: pointer;}
.switcheroo__delete i {transform: scale(0.5);pointer-events: none;}
.switcheroo__divider {/* petit divider apres logo */width: 100%;height: 2px;background-color:var(--color-pill);border-radius: 1px;opacity: 0.06;transform: scale(0.8);}
.switcheroo__form {/* formulaire de connexion */padding:48px;}
.switcheroo__form-row {display: flex;flex-flow: column;align-items: flex-start;margin-bottom: 16px;}
.switcheroo__form-label {font-family:karla;text-transform:uppercase;font-size:9px!important;margin-bottom:8px;text-transform:uppercase;color:var(--color1)!important;}
.switcheroo__form-input {/* champs du formulaire */padding: 6px !important;font-size: 11px !important;border-radius: 4px !important;width: 100% !important;border-bottom: 2px solid var(--color-button) !important;background-color:var(--color-bg) !important;color:#00000040!important;cursor: text !important;}
.switcheroo__form-button {border-radius: 8px;padding: 8px;border: none;outline: none;box-shadow: none;text-transform: uppercase;font-size:8px;align-self: flex-end;color: #fff;background-color: var(--color-button);}
.monomer-overlay {position: fixed;z-index: 999;top: 0;left: 0;opacity: 0;width: 100%;height: 100%;transition: 0.2s opacity ease;background: rgba(0, 0, 0, 0.6);}
.monomer-modal {position:fixed;z-index:999;top:50%;left:50%;opacity:0;width:94%;padding:10px;transition:0.2s opacity ease;transform:translate(-50%, -50%);border-radius:5px;background:var(--color-squircle);color:var(--color-text);border:1px solid var(--color-button);}
.monomer-modal.monomer-open.monomer-anchored {top: 20px;transform: translate(-50%, 0);} .monomer-modal.monomer-open {opacity: 1;} .monomer-overlay.monomer-open {opacity: 1;}
.monomer-close {font-family: Helvetica, Arial, sans-serif;font-size: 20px;font-weight: 700;line-height: 24px;text-align: center;width: 24px;height: 24px;position: absolute;top: -5px;right: -5px;padding: 5px;cursor: pointer;color: #fff;border: 0;outline: none;background: var(--color-delete);border-radius: 50%;padding: 0;}
.monomer-close:hover {opacity: 0.8;}
