.twitbg{
  background-color: var(--blanc);
  width: 490px;
  height:auto;
  margin:0 auto;
  padding:10px;
  border-radius:10px;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.twitflex {
  width:100%;
  padding:14px;
  display: flex;
}

.twitbg jp{border-top-width:1px;border-color:#e2e8f0;}

.twitic{
  margin-right:20px;
  flex-shrink:0;
  height:48px;
  width:48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  border-radius: 9999px;
}

.twitic img{
  height:48px;
  width:48px;
  cursor: pointer;
  border-radius: 9999px;
  object-fit:cover;
}

.twitinner{
  flex: 1 1 0%;
  color:rgb(139, 152, 165);
  font-size:16px;
}

.twitusrn{
  font-weight: 700;
  color: #2d3748;
  color: var(--noir);
  margin-right:8px;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mb-4 {
  margin-bottom: 15px;
  margin-top:-5px;
  text-align: left;
  width: 93%;
}

.mb-4 ln {
  margin:0
  color:rgb(139, 152, 165);
  line-height:23px;
}

.twitss {
  width: 100%;
  align-items: center;
  display: flex;
}

.iconsstt{
  width:20px;
  margin-right:10px;
  cursor:pointer;
  color:rgb(139, 152, 165);
}

.flex{
  display:flex;
}

.pptt {
    width: 25%;
}

.imgtwitp{
  width:100%;
  border-radius:10px;
  margin-top:10px;
}

.imgtwitp2{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:2px;
}

.imgtwitp2 img{
  width:49.8%;
  display: flex;
  border-radius:5px;
  object-fit:cover;
  height:200px;
}
