/*PAGE GLOBALE*/

#web_cont {
  background-color:var(--blanc);
  border:solid 1px var(--accent2);
  width:500px;
  height:535px;
  padding:0px 5px 5px 5px;
}

#web_cont img{opacity:1;transition:0.8s;}
#web_cont img:hover{opacity:0.6;}

.web_links {
  padding:10px;
  margin-bottom:10px;
  position:relative;
  float:right;
}

.web_agence {
  float:left;
  display:flex;
  font-family:'Karla';
  letter-spacing:-0.5px;
  font-weight:bold;
  font-size:16px;
  padding:10px;
  margin-top:4px;
  float:left;
  position:relative;
  color:var(--noir);
}

.web_musicians{
  padding:14px 10px 14px 10px;
  font-family:'karla';
  font-weight:bold;
  font-size:12px;
  transition:0.5s;
}

.web_actors{
  padding:14px 10px 14px 10px;
  font-family:'karla';
  font-weight:bold;
  font-size:12px;
  transition:0.5s;
}

.web_ent{
  padding:14px 10px 14px 10px;
  font-family:'karla';
  font-weight:bold;
  font-size:12px;
  transition:0.5s;
}

.web_staff{
  padding:14px 10px 14px 10px;
  font-family:'karla';
  font-weight:bold;
  font-size:12px;
  transition:0.5s;
}

.web_musicians:hover{color:var(--txt);}
.web_actors:hover{color:var(--txt);}
.web_ent:hover{color:var(--txt);}
.web_staff:hover{color:var(--txt);}

.web_intro {
  font-family:karla;
  font-size:13px;
  color:var(--txtf);
  text-align:left;
  border-top:solid 1px var(--accent);
  padding:15px 10px 20px 15px;
  letter-spacing:0.5px;
 margin-top:40px;
}
.web_intro d{transition:0.5s;}
.web_intro d:hover{color:#999;letter-spacing:1px;}

.web_title {
font-family:karla;
font-weight:bold;
font-size:16px;
color:var(--noir);
border-bottom:2px solid var(--noir);
text-align:left;
padding:0px 0px 8px 8px;
margin-bottom:15px;}

.web_img {
  width:182px;
height:182px;
object-fit:cover;}

.web_inf1 {
  font-family:karla;
  font-size:11px;
  color:var(--txt);
  margin-left:8px;
  margin-bottom:8px;}

.web_inf1 t {
  font-weight:bold; 
  border-bottom:2px solid var(--noir);
color:var(--noir);}

.web_img2 {
  width:105px;
  height:55px;
  object-fit:cover;
  padding:3px;
  margin:15px 0px 15px 0px;}

.web_inf2 {
  font-family:karla;
  font-size:10px;
  color:var(--txt);
  margin-left:3px;
  line-height:110%;
  width:95px;}

.web_inf2 t {
  font-weight:bold;
  font-size:11px;
  color:var(--noir);
}

.web_inf2 d {
  color:var(--citt);
  text-transform:uppercase;
  font-size:9px;
}

.web_memberimg{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:100%; 
  padding:10px;
  margin-left:10px;
}

.web_memberinf{
  font-family:karla; color:#222;font-size:12px;margin-left:5px;}

.web_memberinfname{
  font-size:13px;border-bottom:2px solid black;padding-bottom:3px; font-weight:bold;font-family:karla;margin-bottom:5px;margin-left:5px;width:310px;}
.web_memberinf d{color:#999;}

#contentw{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:auto;
  height:auto;
}

.albumct{
  width:140px;
  margin-bottom: 5px;
}

.web_album {
  width:135px;
  height:135px;
  object-fit:cover;
  margin:2px 2px 2px 2px;
}

.web_titlea {
  font-family:karla;
  font-size:11px;
  color:var(--black);
  margin-left:4px;
  line-height:100%;
}

.web_titlea d {
  color:var(--citt);font-size:9px;text-transform:uppercase;}

#web_tracklist { 
  width:100px; 
  height:100px; 
  background:white; 
  opacity:0; 
  overflow:auto; 
  position:relative; 
  left:9px; 
  -webkit-transition:0.5s all linear; 
  -moz-transition:0.5s all linear; 
  margin-bottom:-120px; 
  padding:10px; 
  font-family: Karla; 
  text-align: left; 
  overflow:auto;
  font-size:9px;
  line-height:130%;}

#web_tracklist:hover { opacity:0.9;}

.web_trackname {
  border-bottom:solid 1px var(--accent);padding-bottom:4px;margin-bottom:5px;}

.web_trackname d{
  color:var(--citt);!important;
  letter-spacing:0.5px;
  font-size:8px;
  float:right;
  opacity:0.8;}

.web_trackname a {
  text-transform:uppercase;text-decoration:none;color:var(--noir);font-weight:bold;}

#contentwb{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:350px;
  height:auto;
  margin:0 auto;
}

.web_inf3 {
  font-family:karla;
  font-size:11px;
  color:var(--noir);
  width:160px;
  line-height:120%;
  margin-left:10px;
}


.web_inf3 d{
  font-family:karla;
  font-size:9px; 
  text-transform:uppercase; 
  color:var(--citt);}

.prodw{
  width:140px;
  height:60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom:5px;
}

.web_inf4 {
  margin-left:5px;
  margin-top:10px;
  font-family:karla;
  font-size:11px;
  color:var(--txt);
  width:60px;
  line-height:130%;}

.web_inf4 b {
  font-weight:bold; 
color:var(--noir);}

.web_inf4 d{
  font-family:karla;
  font-size:9px; 
  text-transform:uppercase; 
  color:var(--citt)}

.web_img4 {
  width:60px;
  height:60px;}

/*ONGLETS*/
.web_onglets span.onglet_cont {display:none;}
.web_onglets input {display:none;} .web_onglets input:checked + span.onglet_cont {display:block;}

.web_onglets span.onglet_cont {
  width:430px;
  height:350px !important;
  padding:20px;
  font-size:11.2px;
  line-height:130%;
  text-align:justify;
  overflow:auto;}

.web_onglets label.onglet_name {
  display: inline-block;
  margin:0px 2px 10px 2px;
  width:auto;
  padding:5px;
  text-align:center;
  outline-offset:-2px;
  background-color:var(--noir);
 cursor:pointer;
  color:var(--blanc);
  font-family:Karla;
  letter-spacing:.5px;
  text-transform:uppercase;
  font-size:10px;
  margin-top:5px;
  transition:0.5s;}

.web_onglets label.onglet_name:hover {
  background-color:#999;}
