.slider_cont{
    margin: 0 auto;
    background-color: var(--white);
    border: solid 1px var(--accent2);
    width: 500px !important;
    height: auto;
    padding: 0px 5px 5px 5px;
    border-radius: 10px
}

.slider_title{font-family:karla; font-weight:bold; font-size:16px; color:var(--black); border-bottom:2px solid var(--black); text-align:left; padding:0px 0px 8px 8px; margin:25px 5px 20px 5px;}
.web_conter{width:470px;height:auto;margin:15px;margin-top:-25px;}

.slider_title2 {font-family:karla; font-size:15px; color:var(--black); text-align:left; margin:10px 0px 0px 10px; text-transform:uppercase;}

.web_cont .tabs-onglets {
  position:relative;
  top:-25px;
  width:calc(100% - 10px);
  height:auto;
  font-size:13px;
  text-align:right;
}

.web_cont .tabs-onglets a {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-size:18px;
  transition: 0.25s all ease-in-out;
}

.web_cont .tabs-onglets .selected,
.web_cont .tabs-onglets a:hover {
  color: #00000030;
}

.web_cont #contenu {
  overflow:hidden;
  width:100%;
  height:auto;
  display: flex;
}

.web_cont .content-insta {
  text-align: right;
}
