.ytbplay{
position: relative;
margin: 2.5px;
width: 111px;
height:100px;
display: flex;
justify-content: center;
flex-direction: column;} 

.playflex{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
margin-top:5px;} 

.play_cont{
margin-top: -16px;
position: relative;
cursor: pointer;
flex: auto;
display: flex;
flex-direction: row;}

.transbox {
position: absolute;
top: 0px;
left: 50%;
width: 47%;
height: 58px;
background-color: #000;
opacity: 0.6;} 

cate {
font-family: "Gill Sans Extrabold", sans-serif;
font-size:11px;
color:white;
font-weight:bold;
margin-left:3px;
text-transform:uppercase;} 

cate2 {
font-family: "Gill Sans Extrabold", sans-serif;
font-size:11px;
color:#414141;
font-weight:bold; 
margin-left:3px;
text-transform:uppercase;} 

.web_inf3 {
font-family: "Gill Sans Extrabold", sans-serif;
font-size: 8px;
color: white;
width: 200px;
height: 90px;
padding: 8px;
position: relative;
overflow: scroll;
text-align: justify;
margin: 0 auto;} 

.ytbflex{margin-top:-5px!important;} 

.infoytb{height:79px!important;}
