/* ANIMATION DEGRADE */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
/* ANIMATION SHAKING */
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
  
/* ANIMATION PULSE */
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* STRUCTURE FA */
ul {list-style-type: none;padding: 0;margin: 0;}
fieldset {border: none;padding: 0;margin: 0;}
dl {display: grid;grid-template-columns: 220px auto;grid-gap: 15px;font-size:var(--size3);}
dd {margin: 0;font-size:var(--size3);}
dt {margin: 0;font-size:var(--size3);}
dt label {font-weight: bold;font-size:var(--size3);}
button, input {border: none}
button, select, input{font-family: var(--font);cursor: pointer;}
input:is([type="text"], [type="passeword"]){cursor: text;}

/* TOOLBAR */
#fa_right #fa_menu ul,
#fa_right.notification #fa_menu ul,
#fa_right #fa_notifications #notif_unread {display: none}
#notif_list hr {display: none}
#fa_toolbar #live_notif .fa_notification .content {display: inline-block;}
#fa_right.welcome #fa_menulist {display: none!important;}
#fa_right.notification #notif_list {display: flex;}
#fa_right a#fa_welcome {display: none!important;}
#fa_toolbar #fa_right #fa_notifications.unread #notif_unread {display: inline;}
#fa_usermenu table {width: 100%;}
#fa_usermenu table tr {display: flex;justify-content: center;}
.fa_fix {position: fixed !important; z-index: 999;;top: 0; right: 0;}

/*** --------------------------------- ***/
/*** STRUCTURE DE LA PAGE DE CONNEXION ***/
.fld_connexion dl {display: grid;rid-row-gap: 15px; grid-template-columns: 150px auto;}
.fld_connexion dl:nth-of-type(2) dd:last-of-type {grid-column: 1 / span 2;}
.fld_connexion dl:nth-of-type(3) {margin: 0;}
.fld_connexion dl:nth-of-type(n+3) {display: block;}
.invisible {display: none;visibility: hidden;} .visible {display: block;visibility: visible;}

/* Indicateur complexité du mot de passe */
#cont_pwd {display: flex;align-items: center;height: 100%;margin-left: 5px;}
.pwd_img { padding: 2px 6px;display: none;border-radius: 3px;}
#pwd_good {background-color: #4CAF50;color: #FFF;}
#pwd_middle {background-color: #FFCC00;color: #000;}
#pwd_bad {background-color: #F04040;color: #FFF;}

/*** ------------------------------- ***/
/*** POUBELLE DE FORUMACTIF -------- ***/
#find_username br,#users_here br, #main-content > p, .adminlink br, .corners-top, .corners-bottom { display: none;}
#find_username .panel {border: none;margin: 0}
.adminlink { clear: both}
#cp-main#cp-main#cp-main, table, .quickreply div#textarea_content {width: 100% !important;}
.panel .panel { background: transparent;border: none; padding: 0;margin: 0; border-radius: 0;}
.social_btn {display: none;}
  
  #FAM,
#FAM .FAM-inputbox,
#FAM-msg {
  font-family: var(--font);
}

.FAM-clear,
.FAM-msg-date,
.FAM-msg:after {
  clear: both;
}

#modernbb #FAM i.bi,
#modernbb #FAM-button i.bi,
#modernbb #FAM-send {
  margin: initial;
  vertical-align: initial;
}

/* Fenetre du Messenger */
#FAM {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  color: var(--txt1);
  font-size: var(--FAM-fontSize);
  position: fixed;
  height: 75%;
  width: 50%;
  max-width: var(--FAM-windowSize);
  left: 25%;
  z-index: 99;
  visibility: visible;
  opacity: 1;
  bottom: 10%;
  transition-property: top, right, bottom, left, height, width, margin, opacity, visibility;
  transition-duration: 700ms;
  grid-template-columns: 100%;
  border-radius: 10px;
  background: var(--bg3);
  outline-offset: -5px;
  outline: 1px solid var(--bordure2);
  backdrop-filter: blur(10px);
}

/* Fenetre fermée */
#FAM[data-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  left: calc(-100% + 65px);
}

#FAM.FAM-embedded {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 500px;
  margin: 12px auto;
  z-index: 1;
}

/* Bouton pour ouvrir la fenetre */
#FAM-button-open {
    background: transparent; 
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100px;
    border: 0px solid;
    color: var(--white);
    padding-top: 6px;
    transition: none;
    cursor: pointer;
    margin-left: 0.5%;
    font-size: 15px;
}

#FAM-button-open:hover {
  color:var(--black);
  transition: none;
}

#FAM[data-hidden="false"] ~ #FAM-button-open {
  background: var(--c6);
  color: var(--bg4);
}

/* Entête de la fenetre */
#FAM-toolbar {
  color: var(--c1);
  position: relative;
  margin: 20px 15px 15px;
}

#FAM-toolbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/* Bouton flèche de retour */
.FAM-toolbar-button {
  color: var(--FAM-button);
  font-size: 24px;
  cursor: pointer;
}

/* Titre de la fenetre */
.FAM-maintitle{
  text-align: left;
  font-size: var(--FAM-titleSize);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 99;
  margin: 0;
  background: var(--grad4);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}


#FAM-idle,
.FAM-button {
  color: var(--FAM-buttonsClr);
  cursor: pointer;
}

/* Conteneur discussion + boite de reponse */
.FAM-container-content {
  display: grid;
  grid-template-rows: 1fr max-content;
  overflow: auto;
  background: var(--bg6);
  border-radius: 10px 10px 0 0;
  margin: 10px 15px 0 15px;
}

/* Conteneur discussion */
#FAM-content {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 15px;
  padding: 30px 20px;
  position: relative;
}

.FAM-viewing-topic {
  padding: 0 20px !important;
}

.FAM-viewing-topic:before,
.FAM-viewing-topic:after {
  content: "";
  display: block;
  position: sticky;
  right: 0px;
  left: 0;
  height: 80px;
  z-index: 8;
  pointer-events: none;
}

.FAM-viewing-topic:before {
  top: 0px;
  background: var(--FAM-gradientTop);
}

.FAM-viewing-topic:after {
  bottom: 0;
  background: var(--FAM-gradientBot);
}

/* Chargement */
.FAM-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.FAM-loading,
.FAM-loading p {
  font-size: 18px;
  font-weight: 700;
}

.FAM-loading i {
  display: block;
  margin-bottom: 12px;
  font-size: 32px;
}
  
#FAM-load-older {
margin-bottom: 20px;
    margin-top: -60px;
    background: var(--grad4);
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}
  

#FAM-no-tabs {
  top: 69px;
  cursor: pointer;
}

#FAM-tab-container[style*="none"] + #FAM-content #FAM-no-tabs {
  top: 39px;
}

/* Mise en vieille */
#FAM-idle {
  background: var(--FAM-sleepModeBackground);
  z-index: 999;
  transition: 300ms;
}

/* Boutons */
.FAM-button {
  background-color: var(--c6);
  color: var(--bg4);
  border-radius: 8px;
  padding: 5px 12px 6px;
  border: none;
  display: block;
  margin: 3px auto;
  outline: 0;
  font-weight: bold;
}

.FAM-button:hover {
  color: var(--FAM-fontClr);
}

.FAM-inline-buttons {
  margin: 0 0 0 15px !important;
  width: 6%;
}

.FAM-inline-buttons .FAM-button {
  display: inline-block;
  margin: 3px;
  background-color: transparent;
  font-size: 18px;
  color: var(--c6);
}

.FAM-button-large {
  background-color: var(--c6);
  border-radius: 4px;
  font-weight: 700;
  padding: 5px 15px;
  color: var(--bg4);
  margin: 0 auto;
}

.FAM-button-large:hover {
  background-color: var(--FAM-secondClr);
}

#FAM .FAM-inputbox {
  color: var(--FAM-fontClr);
  font-size: var(--FAM-fontSize);
  background-color: var(--bg4);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  vertical-align: baseline;
  cursor: text;
  outline: 0;
  height: auto;
  line-height: normal;
}

#FAM .FAM-inputbox[type="color"],
#FAM select.FAM-inputbox {
  cursor: pointer;
}

#FAM textarea.FAM-inputbox {
  height: 150px;
  resize: none;
}

#FAM .FAM-button-input .FAM-inputbox {
  width: calc(100% - 40px);
  height: 20px;
  margin: 0;
}

#FAM .FAM-button-input .FAM-button {
  font-size: 24px;
  vertical-align: -4px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 0 4px 4px 0;
}

#FAM .FAM-button-input-small .FAM-inputbox {
  width: 50px;
  height: 30px;
  padding: 0 2px;
  vertical-align: top;
}

#FAM .FAM-button-input-small .FAM-button {
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding: 0;
}



.FAM-section-title {
  color: #39f;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #39f;
  margin: 12px auto;
  padding-bottom: 3px;
}

hr.FAM-hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 24px 0;
}

#FAM .FAM-list li {
  margin: 0;
  padding: 3px 0;
  position: relative;
}

.FAM-init-tab-controls .FAM-icon-link {
  font-size: 24px;
}

.FAM-symmetrical-label .FAM-label,
.FAM-symmetrical-label .FAM-label-value {
  width: 50%;
}

.FAM-left,
.FAM-symmetrical-label .FAM-label-value {
  text-align: left;
}

.FAM-right {
  text-align: right;
}

.FAM-float-left {
  float: left;
}

.FAM-float-right {
  float: right;
}

.FAM-clear:after {
  content: "";
  display: table;
  clear: both;
}

#FAM p,
.FAM-row {
  margin: 10px 0;
}

#FAM .FAM-center-block {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.FAM-error {
  color: #f66;
  font-weight: 700;
}

.FAM-noclick {
  pointer-events: none;
}

.FAM-clickable {
  pointer-events: all;
}

#FAM-content::-webkit-scrollbar {
  display: none;
}

#FAM ::-webkit-scrollbar-track {
  background-color: transparent;
}

#FAM ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

#FAM ::-webkit-scrollbar-button:single-button {
  height: 0;
  width: 0;
}

#FAM-actions {
  background-color: var(--c6);
  border-radius: 10px;
  margin: 10px 35px;
  align-items: end;
  position: relative;
}

.FAM-viewing-forum + #FAM-actions,
.FAM-viewing-topic + #FAM-actions {
  display: block;
}

.FAM-viewing-forum + #FAM-actions {
  background: transparent;
  margin: 10px 35px;
  display: flex;
  justify-content: flex-end;
}

#FAM-actions:empty {
  display: none;
}

#FAM-new-topic {
  cursor: pointer;
  font-size: 28px;
  color: var(--c6);
  margin-bottom: 20px;
}

#FAM-new-topic:hover {
  color: var(--FAM-fontClr);
}

.FAM-buttons-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.FAM-buttons-container > button {
  color: var(--c6);
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.FAM-buttons-container > button:hover {
  color: var(--white);
}

.FAM-buttons-container > button[data-disabled="true"] {
  pointer-events: none;
}

.FAM-buttons-container > button[data-disabled="true"] > * {
  opacity: 0.5;
}

#FAM-msg-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}

#FAM-timeout-bar {
  background: #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  z-index: -1;
}

.FAM-chat {
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content 1fr;
  color: var(--c1);
}

.FAM-chat:hover,
.FAM-chat:hover a {
  color: var(--c6);
}

.FAM-chat:hover .FAM-chat-avatar,
.FAM-chat:hover .FAM-chat-content {
  background-color: var(--bg4);
}

.FAM-forum-name,
.FAM-topic-name {
  display: none;
  font-size: 12px;
  margin: 20px 20px 10px;
  text-transform: uppercase;
  grid-column: 1 / span 2;
  font-weight: 600;
}

.FAM-forum-name i,
.FAM-topic-name i {
  margin-right: 5px;
}

.FAM-forum:nth-of-type(1) .FAM-forum-name,
.FAM-pagination + .FAM-forum:nth-child(2) .FAM-forum-name {
  display: block;
}

.FAM-forum {
  margin-bottom: 10px;
}

.FAM-forum .FAM-chat-title {
  text-transform: uppercase;
}

.FAM-forum a.lastpost_link:before {
  content: "\F132";
  font-family: bootstrap-icons !important;
  margin-right: 5px;
  font-weight: 400;
  top: 2px;
  position: relative;
}

.FAM-chat-date > a.lastpost_link:after {
  content: ",";
}

.FAM-forum .FAM-chat-avatar,
.FAM-forum .FAM-chat-content {
  background-color: var(--bg4);
}

.FAM-forum + .FAM-topic > .FAM-topic-name,
.FAM-pagination + .FAM-topic > .FAM-topic-name {
  display: block;
}

.FAM-chat-avatar {
  grid-row: 2;
  align-self: center;
  padding: 15px 5px 15px 20px;
  border-radius: 10px 0 0 10px;
  opacity: 0.8;
}

.FAM-chat-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.FAM-chat-content {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  padding: 15px 20px 15px 10px;
  border-radius: 0 10px 10px 0;
  min-height: 70px;
  display: grid;
  align-items: center;
}

.FAM-chat-date,
.FAM-chat-title {
  width: 100%;
}

.FAM-chat-title {
  font-weight: 600;
  background: var(--grad4);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  font-family: 'poppins'; 
}

.FAM-chat-date {
  font-size: 10px;
    margin-top: 4px;
    font-family: 'avenir';
    text-transform: uppercase;
    letter-spacing: -.5px;
}

.FAM-chat-date > a.lastpost_link {
  font-weight: 600;
  color: var(--FAM-fontClr) !important;
  margin-right: 5px;
}

.FAM-chat-date > strong {
  margin-left: 5px;
  background-color: var(--FAM-msgBackground);
  padding: 0px 4px 0px;
  border-radius: 4px;
}

.FAM-chat-date > strong a {
  display: initial !important;
}

.FAM-chat-date > strong:empty,
.FAM-topic .FAM-chat-date i,
.FAM-chat-date br,
.FAM-chat-date .last-post-icon,
.FAM-chat-date a:last-of-type {
  display: none;
}

.FAM-new-post,
.FAM-new-post a,
.FAM-new-post .FAM-chat-title {
  color: var(--c6);
  font-weight: bold !important;
}

.FAM-new-post .FAM-chat-avatar {
  opacity: 1;
}

.FAM-new-post .FAM-chat-avatar img {
  color: var(--FAM-newMsgAnimation);
  transform: scale(1);
  animation: FAMpulse 3s infinite;
}

@keyframes FAMpulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px transparent;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
  }
}

.FAM-pagination:empty {
  display: none;
}

.FAM-pagination span {
  display: flex;
  gap: 5px;
  justify-content: end;
}

#FAM a.FAM-page-link,
.FAM-page-link {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  background: var(--c6);
  color: var(--white);
  display: inline-block;
  padding: 1px 6px 2px;
  border-radius: 5px;
}

#FAM a.FAM-page-link:hover {
  background: var(--bg4);
}

#FAM a.FAM-page-link:active {
  background: var(--bg4);
}

b.FAM-page-link,
strong.FAM-page-link {
  background: var(--bg4);
  font-weight: 400;
  color: var(--black);
}

#FAM-msg {
  color: var(--FAM-fontClr);
  font-size: var(--normal-size);
  background: 0 0;
  border: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  padding-right: 110px;
  outline: 0;
  resize: vertical;
}

.FAM-msg[data-compact="yes"] {
  margin-bottom: 5px;
}

.FAM-msg {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}

.FAM-msg-avatar {
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  top: 50%;
  align-self: flex-end;
}

.FAM-msg-online .FAM-msg-avatar {
  border-color: #39f;
}

.FAM-msg-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.FAM-msg.FAM-my-msg {
  flex-direction: row-reverse;
}

.FAM-msg-box {
  float: right;
  width: 80%;
  width: calc(100% - 48px);
  padding-left: 10px;
}

.FAM-msg-content {
  display: flex;
  gap: 7px;
  position: relative;
}

.FAM-msg-editing .FAM-msg-text {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.FAM-my-msg .FAM-msg-text {
  background: var(--bg6);
  border-radius: 17px 17px 6px 17px;
  padding: 8px 15px 8px 20px;
  float: right;
}

.FAM-msg-text {
  font-size: 14px;
  background: var(--white);
  border-radius: 17px 17px 17px 6px;
  padding: 8px 20px 8px 15px;
}

.FAM-my-msg .FAM-msg-content {
  flex-direction: row-reverse;
}

.FAM-msg-text .fa-circle-o-notch {
  font-size: 20px;
}

#FAM .FAM-msg-text a {
  color: inherit !important;
  text-decoration: underline;
  cursor: pointer;
}

#FAM .FAM-msg-text a:hover {
  text-decoration: none;
}

.FAM-msg-text * {
  max-width: 100%;
}

.FAM-msg-text img {
  max-height: 200px;
}

.FAM-msg-info {
  display: flex;
  gap: 5px;
  clear: both;
}

.FAM-msg-date,
.FAM-msg-name {
      font-size: 9px;
    width: 100%;
    height: 20px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: fit-content;
    color: var(--txt1);
    font-family: 'poppins';
    font-weight: bolder;
  text-transform: uppercase;
}

.FAM-name-mention {
  cursor: pointer;
}

.FAM-my-msg .FAM-msg-info {
  flex-direction: row-reverse;
}

.FAM-msg-error .FAM-msg-content:before {
  border-left-color: #f33;
}

.FAM-msg-text .FAM-attachment,
.FAM-msg-text .FAM-attachment * {
  display: block;
}

.FAM-msg-text .FAM-attachment tbody {
  line-height: 0;
  column-count: 2;
  column-gap: 5px;
}

.FAM-msg-text .FAM-attachment tr {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.FAM-msg-text .FAM-attachment tr:only-child {
  column-span: all;
  margin: 0;
}

.FAM-msg-text .FAM-attachment td {
  color: var(--FAM-fontClr);
  font-size: 14px;
  min-height: 20px;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FAM-msg-text .FAM-attachment td * {
  width: 100%;
  object-fit: cover;
}

.FAM-msg-text .FAM-attachment td,
.FAM-msg-text .FAM-attachment td * {
  border-radius: 5px;
  max-height: 200px;
}

#FAM .FAM-msg-actions {
  margin-top: -12px;
  height: 25px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 300ms;
}

#FAM .FAM-msg:hover .FAM-msg-actions {
  visibility: visible;
  margin-top: 5px;
  opacity: 1;
}

#FAM .FAM-my-msg .FAM-msg-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

[data-compact="yes"] {
  padding: 0;
}

.FAM-msg[data-compact="yes"] .FAM-msg-avatar {
  visibility: hidden;
}

.FAM-msg[data-compact="yes"] .FAM-msg-text {
  border-radius: 20px;
}

[data-compact="yes"] .FAM-msg-info {
  visibility: hidden;
  height: 0px;
}

.FAM-msg-button {
  font-size: 14px;
  width: 20px;
  cursor: pointer;
}

.FAM-msg-button:hover {
  color: var(--FAM-buttonHover);
}

.FAM-edit-button {
  font-size: 10px;
}

.FAM-delete-button {
  margin-left: -7px;
  font-size: 18px;
}

.FAM-msg-text .FAM-attachment td:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#FAM [onclick="FAM.modal.open(this);"] {
  cursor: pointer;
}

.FAM-msg-text .FAM-attachment td a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.FAM-msg-text ol,
.FAM-msg-text ul {
  padding-left: 30px;
  margin: 12px 0;
}

.FAM-msg-text ol > br:first-child,
.FAM-msg-text ul > br:first-child {
  display: none;
}

.FAM-codebox,
.FAM-spoiler {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 12px;
  color: #000;
}

.FAM-codebox cite a,
.FAM-codebox dt a {
  color: var(--c6);
}

.FAM-codebox cite,
.FAM-codebox dt,
.FAM-spoiler dt {
  color: var(--c6);
  font-weight: 600;
  margin: 0;
  cursor: auto !important;
  text-tranform: lowercase; 
}

#FAM-tab-add,
.FAM-tab {
  height: 30px;
  cursor: pointer;
}

.FAM-codebox dd,
.FAM-spoiler dd {
  padding: 3px;
  margin: 0;
}

.FAM-codebox code {
  display: block;
  max-height: 150px;
  max-width: none;
  padding: 3px;
  margin: -3px;
  overflow: auto;
}

#FAM-new-msg-divider,
#FAM-tabs {
  white-space: nowrap;
  overflow: hidden;
}

blockquote.FAM-codebox {
  position: relative;
  margin-bottom: 17px;
}

blockquote.FAM-codebox:before {
  display: block;
  position: absolute;
  z-index: 1;
  content: "";
  background: var(--c3);
  inset: -8px -20px -10px -15px;
  border-radius: 17px 17px 0 0;
}

.FAM-my-msg blockquote.FAM-codebox:before {
  inset: -8px -15px -10px -20px;
}

blockquote.FAM-codebox > div {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.FAM-spoiler_content {
  position: relative;
  display: inline-block;
}

.FAM-spoiler_content:after {
  content: "";
  background: var(--FAM-chatBackground);
  position: absolute;
  inset: -3px;
  visibility: visible;
  border-radius: 5px;
}

.FAM-spoiler_content:hover:after {
  visibility: hidden;
}

.FAM-msg-text .FAM-post-content,
.FAM-msg-text font[color] {
  color: inherit;
}

#fc-token.FAM-inputbox {
  width: 308px;
}

.FAM-captcha p:first-child b,
.FAM-captcha p:first-child strong {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 6px;
}

#FAM-new-msg-notif {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background: #39f;
  position: absolute;
  height: 30px;
  line-height: 30px;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
}

#FAM-new-msg-notif:after {
  content: "\\f00d";
  font-size: 18px;
  font-weight: 400;
  font-family: FontAwesome;
  position: absolute;
  right: 6px;
}

#FAM-new-msg-notif:hover {
  opacity: 1;
}

#FAM-new-msg-notif + #FAM-content {
  padding-top: 30px;
}

#FAM-new-msg-divider {
  color: #39f;
  font-size: 18px;
  text-align: center;
  margin: 12px;
}

#FAM-new-msg-divider:after,
#FAM-new-msg-divider:before {
  content: "";
  background: #39f;
  display: inline-block;
  width: 25%;
  height: 2px;
  position: relative;
  top: -4px;
}

#FAM-new-msg-divider:before {
  margin-right: 12px;
}

#FAM-new-msg-divider:after {
  margin-left: 12px;
}

#FAM-tab-container {
  height: 30px;
  position: relative;
  margin: 0 15px;
  display: flex;
}

#FAM-tab-add {
  z-index: 99;
  font-size: 13px;
  text-align: center;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: var(--bg4);
  color: var(--txt1);
  border-radius: 5px;
  padding: 0 8px;
  margin-left: 5px;
}

#FAM-tab-add:hover {
  background: var(--c6);
  color: var(--white);
}

#FAM-tabs {
  display: flex;
  gap: 5px;
  position: relative;
  padding-bottom: 3px;
}

#FAM-tabs:hover {
  overflow-x: auto;
  position: relative;
  z-index: 2;
}

#FAM-tab-container:after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 20%;
  background: var(--FAM-gradient);
  z-index: 5;
  pointer-events: none;
}

#FAM-tabs::-webkit-scrollbar {
  height: 4px;
}

#FAM-tabs::-webkit-scrollbar-thumb {
  background-color: var(--c6);
  border-radius: 3px;
}

#FAM-tabs::-webkit-scrollbar-track {
  background: transparent;
}

#FAM-menu-avatar,
#FAM-profile-avatar,
.FAM-tab-name {
  display: inline-block;
  overflow: hidden;
}

.FAM-tab {
  background: var(--FAM-chatBackground);
  border-radius: 5px;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  display: flex;
  width: 130px;
}

.FAM-tab i {
  display: none;
  width: 12px;
  height: 16px;
}

.FAM-tab:hover {
  background: var(--c6);
  color: var(--bg4);
}

.FAM-tab:hover i {
  display: initial;
}

.FAM-tab.FAM-tab-active {
  font-weight: 700;
  background: var(--c6);
  color: var(--white);
}

.FAM-tab-name {
  font-size: 12px;
  width: 80%;
  width: calc(100% - 16px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.FAM-tab-close {
  cursor: pointer;
}

.FAM-tab-close:hover {
  color: #f33;
}

#FAM-about {
  text-align: center;
}

.FAM-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.FAM-title a {
  text-decoration: none !important;
}

.FAM-title i {
  font-size: 36px;
  vertical-align: -2px;
  margin-right: 3px;
}

#FAM #FAM-service-title a {
  color: var(--FAM-fontClr);
  font-weight: 400;
}

#FAM-service-title b {
  color: var(--c6);
}

#FAM-service-title b:last-child {
  color: var(--c6);
}

#FAM-content:has(#FAM-about) + #FAM-actions {
  display: none;
}

#FAM-actions .FAM-dropdown {
  background: var(--bg4);
  border: none;
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 300px;
  height: 270px;
  padding: 10px;
  z-index: 999;
}

/* HEADER */
.crdts-head {
 margin: 0 auto;
    background: var(--bg3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--font);
    text-transform: lowercase;
    text-align: justify;
    width: 80%;
    margin-top: 40px;
    color: var(--txt1);
  }
.crdts-head .cntr {
  border: 1px solid var(--bordure2); 
  padding: 20px; 
  border-radius: 10px;
  }
  
.staff-head {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 120px;
  margin: 0 auto; 
    }
  
.ava-head-overlay1 {
    background: var(--c1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}
  
.ava-head-overlay2 {
    background: var(--c3);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}
  
.ava-head-overlay3 {
    background: var(--c5);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.staff-head img {
  width: 80px;
  height: 80px;
  filter: grayscale(100%) brightness(150%);
  opacity: 0.4;
  object-fit:cover;
  border-radius: 100%; 
  transition: var(--transi2); 
}
  
.staff-head img:hover {
  opacity: 0.2;
}
  
.ong_pa {
      width: 80%;
    height: 100%;
    margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  }
  
.ong_pa .overflow {
  padding-right: 5px; 
  overflow: auto; 
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  
.ong_pa .mdm {
    width: 60%;
    height: 35%;
    margin: 0 auto;
    padding-top: 20px;
}
  
.ong_pa .mdm .img-mdm {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
  
.ong_pa .mdm .img-mdm .contt, .ong_pa .mdm .img-mdm .contt2 {
  position: relative;
  width: 49.5%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px; 
}

.ong_pa .mdm .img-mdm .contt .image, .ong_pa .mdm .img-mdm .contt2 .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:10px; 
}

.ong_pa .mdm .img-mdm .contt:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(186 197 165 / 68%);
  border-radius:10px; 
  outline: 1px solid #fff;
  outline-offset: -7px;
}

.ong_pa .mdm .img-mdm .contt2:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(228 203 136 / 66%);
  border-radius:10px; 
  outline: 1px solid #fff;
  outline-offset: -7px;
}
  
.ong_pa .mdm .img-mdm .contt .text, .ong_pa .mdm .img-mdm .contt2 .text {
  font-family: 'sbi';
  font-size: 20px;
  text-transform: lowercase; 
  color: white;
  margin: 0;
  position: absolute;
  text-align: center; 
}
  
.ong_pa .news-events {
    width: 60%;
    height: 64%;
    margin: 0 auto;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.ong_pa .news-events .news {
  background: var(--bg3);
  width: 49.5%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  
.ong_pa .news-events .news .p {
  border: 1px solid var(--bordure3);
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
      font-family: var(--font2);
    font-size: 11px;
    color: var(--txt1);
}
  
.ong_pa .news-events .events .l i {
  color: var(--c3);
    background: var(--bordure1);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--c3);
    font-size: 16px;
  }
  
.titre-news {
  background: var(--grad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'sbi';
  font-size: 16px;
  text-transform: lowercase;
}
  
.titre-events {
  background: var(--grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'poppins';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}
  
.date-news {
  font-family: 'poppins'; 
  font-size: 11px; 
  font-weight: bolder; 
  text-transform: uppercase; 
  color: var(--c1); 
}
  
.ong_pa .news-events .events {
    width: 49.5%;
    height: 100%;
    border-radius: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.ong_pa .news-events .events .l {
  backdrop-filter: blur(10px);
  background: var(--bg); 
  border-radius: 10px; 
  width: 100%; 
  height: auto; 
  padding: 10px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  align-content: center; 
}
  
.date-events {
  width: 15%; 
  font-family: 'poppins'; 
  font-size: 11px; 
  font-weight: bolder; 
  text-transform: uppercase; 
  color: var(--c1); 
}
  
.txt-events {
  width: 85%; 
  font-family: var(--font2);
  font-size: 11px;
  color: var(--txt1);
}
  
.st {
  color: white;
    font-family: poppins;
    font-size: 12px;
    background: var(--grad2);
    border-radius: 100%;
    padding: 10px;
    margin-top: -115px;
    width: 40px;
    height: 40px;
}
  
  .st i {
    font-size: 20px;
}
  
.txt-head {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 0 auto; 
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 4px;
  background-color: var(--white);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

#car-hold {
   width: 100%;
   height: 92%;
   margin: auto;
   position: relative;
  overflow: hidden;
  color: var(--grad4);
}

#car-hold input {
   display: none;
}

.left-tabs, .right-tabs {
  position: absolute;
  height: fit-content;
    background: var(--white);
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 2;
    color: var(--c1);
    font-size: 12px;
    padding: 30px 30px 30px 0px;
}

.left-tabs {
  left: 0;
  border-radius: 0px 10px 10px 0px;
}

.right-tabs {
  right: 0;
  border-radius: 10px 0px 0px 10px;
}
  
.left-tabs label, .right-tabs label {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

#hold-carousel {
   overflow: hidden;
   position: absolute;
   top: 10%;
   left: 0;
   right: 0;
   bottoM: 0;
}
  
.carousel {
   position: absolute;
   margin: 0 auto; 
   display: flex;
   width: 300%;
  height: 100%; 
   transition: .5s;
}

.tab {
   display: block;
   width: 100%;
   height: 100%;
}

#car1:checked ~ .left-tabs label:last-child, #car2:checked ~ .left-tabs label:first-child, #car3:checked ~ .left-tabs label:nth-child(2), #car4:checked ~ .left-tabs label:nth-child(3) {
   z-index: 3;
}

#car4:checked ~ .right-tabs label:last-child, #car1:checked ~ .right-tabs label:nth-child(2), #car2:checked ~ .right-tabs label:nth-child(3), #car3:checked ~ .right-tabs label:nth-child(4) {
   z-index: 3;
}

#car1:checked ~ #hold-carousel .carousel {
  margin-left: 0%;
}

#car2:checked ~ #hold-carousel .carousel {
  margin-left: -100%;
}

#car3:checked ~ #hold-carousel .carousel {
  margin-left: calc(-100% * 2);
}

#car4:checked ~ #hold-carousel .carousel {
  margin-left: calc(-100% * 3);
}

#car5:checked ~ #hold-carousel .carousel {
  margin-left: calc(-100% * 4);
}
  
  #logo {
  height: fit-content;
  box-sizing: border-box;
  font-family: montgrove;
  display: flex;
  flex-flow: column nowrap;
  width:fit-content;
  margin: 7% auto 200px;
  position: relative;
  color: var(--white);
}

#logo #firstline {
  font-size: 100px;
  font-family:'stretch pro';
  margin: 0 auto;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 10px var(--c1)) drop-shadow(0px 0px 15px var(--c6));
}

#logo #firstline a {
  color: var(--white); 
  text-decoration: none!important; 
}

#logo #secondline {
  font-size: 100px;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  font-family:'stretch pro';
  margin-left: 277px;
}
  
#logo #secondline i {
  background: var(--grad3);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

#logo #thirdline {
  font: 700 1em 'poppins';
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -120px;
  max-width: 270px;
  text-align: justify;
}

  .ava-head {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 120px;
    }
  
.ava-head-overlay1 {
    background: var(--c1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}
  
.ava-head-overlay2 {
    background: var(--c3);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}
  
.ava-head-overlay3 {
    background: var(--c5);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.ava-head img {
  width: 80px;
  height: 80px;
  filter: grayscale(100%) brightness(150%);
  opacity: 0.4;
  object-fit:cover;
  border-radius: 100%; 
  transition: var(--transi2); 
}
  
.ava-head img:hover {
  opacity: 0.2;
}
  
  .cadre-hd {
    width: 95px;
    height: 95px;
    border-radius: 100%;
    padding: 7px;
    border: 1px solid var(--bordure3);
}
  
/*** ------------------------------- ***/
/***  AFFICHAGE D'UN BLOG ---------- ***/

.blog_post {
    background: var(--bg3);
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.blog_details {
    padding: 15px;
    display: flex;
    align-items: center;
    background: var(--grad4);
    border-radius: 10px 10px 0 0;
    font-family: 'poppins';
    font-size: 10px;
    text-transform: uppercase;
}
  
.blog_details username {
    font-family: 'poppins';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
  
.blogava img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 0 20px var(--c6);
    transition: all 1s ease-out;
}

.blog_details:hover .blogava img {
    box-shadow: 0 0 40px var(--c6);
    transition: all 1s ease-out;
}

.blog_author {
    flex-grow: 100;
}

.blog_msg {
  padding: 50px}
  
/*** ------------------------------- ***/
/*** COMMENTAIRES D'UN BLOG -------- ***/

.blog_comment {
    border-radius: 10px;
    margin: 5px auto 10px;
    width: 70%;
    background: var(--bg1);
  padding-bottom: 10px; 
  backdrop-filter: blur(10px);
}
  
.comment_details {
    height: auto;
    margin-bottom: 10px;
    display: flex;
    padding-left: 30px;
    background: var(--bg6);
    border-radius: 10px 10px 0 0;
  backdrop-filter: blur(10px);
}
  
.comment_avatar {
  display: block;
  height: 70px;
  width: 70px; 
  padding: 6px;
  border-radius: 100%;
}

.comment_avatar img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 60px var(--c6);
}
  
.comment_details user {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
}

.comment_details chat {
  display: block;
  margin-top: 3px;
  text-transform: uppercase; 
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 10px;
}

.comment_details chat bck {
      color: #fff;
    font-family: 'Poppins';
    font-weight: bolder;
}
  .comment_details chat bck a {
  color: #fff; 
}
  
      .comment_details chat bck i {
    font-size: 8px;
    color: var(--c5);
    background: var(--white);
    padding: 4px;
border-radius:50%;
      margin-right: 5px;
  }
  
      .comment_details chat bck comdate {
  background: var(--grad4);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
  }
    .comment_details chat i {
  font-size: 10px;
    color: var(--c1);
  }

.comment_details chat uname {
      display: block;
    font-family: 'poppins';
    font-size: 15px;
    text-transform: lowercase;
    margin-top: 2px;
    text-align: left;
    position: relative;
  letter-spacig: 0px; 
}
.comment_details chat .editco {
  font-family: 'avenir';
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
.comment_details chat line {
  width: 0%;
  height: 100%;
  border-bottom: 1px solid rgba(119, 116, 111, 0.1);
  position: absolute;
  bottom: -5px;
  left: 0px;
  transition: 0.5s ease-in-out;
}

.comment_details chat uname:hover line {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.comment_content {
    padding-top: 10px;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
